# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\code\IDEA_JAVA\Lab3Demo1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
*.war
*.log
/../../../../../:\code\IDEA_JAVA\Lab3Demo1\out\